<% provide(:title, 'Apps') %>


<div>

  <div class="center" style="margin-top: 65px;">

    <div style="width: 160px; float: left; height: 100px; padding-top: 15px;">
      <%= image_tag "logo_medium.png" %>
    </div>

    <div style="max-width: 900px;">
      <h1 style="font-size: 18px; font-family: orgonboldregular; color: #58cac3; text-align: left;">
        Apps are the tools and services for developing, extending, and operating your rig.
      </h1>

      <h3 style="font-size: 16px; font-family: orgonlightregular; color: #e6e6e6; text-align: left;">
        Use models and technologies you love from companies you trust. Apps are fully-managed services, integrated for
        use with Corva. They can be provisioned and scaled in one command. Apps provide services for modeling, analysis,
        monitoring, data quality and more.
      </h3>
    </div>

  </div>


  <div style="margin-top: 100px;">
    <div class="section-header" style="text-align: left;">
      <h1>Real-Time DrillView</h1>
    </div>
  </div>


  <div>

    <div class="inline-block" style="width: 480px; margin-top: 40px; margin-right: 40px; text-align: left; vertical-align: top;">
      <div style="width: 100px; vertical-align: top; height: 150px; float: left;">
        <%= image_tag "app_tad.PNG" %>
      </div>
      <div style="text-align: left; vertical-align: top;">
        <p style="font-family: orgonboldregular; font-size: 19.7px; color: #FFFFFF; text-align: left;">Torque and Drag</p>
        <p style="font-family: orgonlightregular; font-size: 16px; color: #FFFFFF; text-align: left; margin-top: 0px;">
          Finite-element based torque and drag - the most accurate model available. The T+D app is one of the most advanced industry tools for diagnosing buckling, stress, and stuck pipe scenarios.
        </p>
        <p>
          <a href="/signin"
             class="inline-block btn btn-primary align-top"
             style="min-width: 150px; margin-left: 0px; margin-right: 30px; margin-top: 0px; float: left;">
            BUY <span style="opacity: 0.8;"></span>
          </a>

          <p class="inline-block">
            <span style="font-family: orgonboldregular;">Corva</span><br>
            <span>Sep 1, 2015</span>
          </p>
        </p>
      </div>

    </div>

    <div class="inline-block" style="width: 480px; margin-top: 40px; text-align: left; vertical-align: top;">
      <div style="width: 100px; vertical-align: top; height: 150px; float: left;">
        <%= image_tag "app_de.PNG" %>
      </div>
      <div style="text-align: left; vertical-align: top;">
        <p style="font-family: orgonboldregular; font-size: 19.7px; color: #FFFFFF; text-align: left;">Drilling Efficiency</p>
        <p style="font-family: orgonlightregular; font-size: 16px; color: #FFFFFF; text-align: left; margin-top: 0px;">
          Drilling Efficiency tracks optimized engineering and operating variables to achieve the lowest drill cost and the best drill rate for each bit run, each application, and each formation.
        </p>
        <p>
          <a href="/signin"
             class="inline-block btn btn-primary align-top"
             style="min-width: 150px; margin-left: 0px; margin-right: 30px; margin-top: 0px; float: left;">
            BUY <span style="opacity: 0.8;"></span>
             </a>

        <p class="inline-block">
          <span style="font-family: orgonboldregular;">Corva</span><br>
          <span>Sep 1, 2015</span>
        </p>
        </p>
      </div>

    </div>



    <div class="inline-block" style="width: 480px; margin-top: 40px; margin-right: 40px; text-align: left; vertical-align: top;">
      <div style="width: 100px; vertical-align: top; height: 150px; float: left;">
        <%= image_tag "app_ws.PNG" %>
      </div>
      <div style="text-align: left; vertical-align: top;">
        <p style="font-family: orgonboldregular; font-size: 19.7px; color: #FFFFFF; text-align: left;">Wellbore Stability</p>
        <p style="font-family: orgonlightregular; font-size: 16px; color: #FFFFFF; text-align: left; margin-top: 0px;">
          The wellbore stability app determines the optimum mud weight window and/or wellbore trajectory in order to have a mechanically stable wellbore during and after drilling.
        </p>
        <p>
          <a href="/signin"
             class="inline-block btn btn-primary align-top"
             style="min-width: 150px; margin-left: 0px; margin-right: 30px; margin-top: 0px; float: left;">
            BUY <span style="opacity: 0.8;"></span>
          </a>

        <p class="inline-block">
          <span style="font-family: orgonboldregular;">Corva</span><br>
          <span>Sep 1, 2015</span>
        </p>
        </p>
      </div>

    </div>

    <div class="inline-block" style="width: 480px; margin-top: 40px; text-align: left; vertical-align: top;">
      <div style="width: 100px; vertical-align: top; height: 180px; float: left;">
        <%= image_tag "app_hc.PNG" %>
      </div>
      <div style="text-align: left; vertical-align: top;">
        <p style="font-family: orgonboldregular; font-size: 19.7px; color: #FFFFFF; text-align: left;">Hole Cleaning</p>
        <p style="font-family: orgonlightregular; font-size: 16px; color: #FFFFFF; text-align: left; margin-top: 0px;">
          Use a modified Stokes' slip velocity and a minimum transportation velocity (MTV) model to determine hole cleaning problems during drilling.
        </p>
        <p>
          <a href="/signin"
             class="inline-block btn btn-primary align-top"
             style="min-width: 150px; margin-left: 0px; margin-right: 30px; margin-top: 0px; float: left;">
            BUY <span style="opacity: 0.8;"></span>
             </a>

        <p class="inline-block">
          <span style="font-family: orgonboldregular;">Corva</span><br>
          <span>Sep 1, 2015</span>
        </p>
        </p>
      </div>

    </div>




    <div class="inline-block" style="width: 480px; margin-top: 40px; margin-right: 40px; text-align: left; vertical-align: top;">
      <div style="width: 100px; vertical-align: top; height: 150px; float: left;">
        <%= image_tag "app_vb.PNG" %>
      </div>
      <div style="text-align: left; vertical-align: top;">
        <p style="font-family: orgonboldregular; font-size: 19.7px; color: #FFFFFF; text-align: left;">Vibration Detection</p>
        <p style="font-family: orgonlightregular; font-size: 16px; color: #FFFFFF; text-align: left; margin-top: 0px;">
          Detect lateral, axial, and torsional vibration for maximum bit life. The vibration app detects common problems such as stick slip and bit balling.
        </p>
        <p>
          <a href="/signin"
             class="inline-block btn btn-primary align-top"
             style="min-width: 150px; margin-left: 0px; margin-right: 30px; margin-top: 0px; float: left;">
            BUY <span style="opacity: 0.8;"></span>
             </a>

        <p class="inline-block">
          <span style="font-family: orgonboldregular;">Corva</span><br>
          <span>Sep 1, 2015</span>
        </p>
        </p>
      </div>

    </div>

    <div class="inline-block" style="width: 480px; margin-top: 40px; text-align: left; vertical-align: top;">
      <div style="width: 100px; vertical-align: top; height: 180px; float: left;">
        <%= image_tag "app_ms.PNG" %>
      </div>
      <div style="text-align: left; vertical-align: top;">
        <p style="font-family: orgonboldregular; font-size: 19.7px; color: #FFFFFF; text-align: left;">Motor Stalls</p>
        <p style="font-family: orgonlightregular; font-size: 16px; color: #FFFFFF; text-align: left; margin-top: 0px;">
          The Motor Stalls app detects instantaneous mud motor stalling for efficient usage. Avoid tripping for failed mud motors.
        </p>
        <p>
          <a href="/signin"
             class="inline-block btn btn-primary align-top"
             style="min-width: 150px; margin-left: 0px; margin-right: 30px; margin-top: 0px; float: left;">
            BUY <span style="opacity: 0.8;"></span>
             </a>

        <p class="inline-block">
          <span style="font-family: orgonboldregular;">Corva</span><br>
          <span>Sep 1, 2015</span>
        </p>
        </p>
      </div>

    </div>


    <div class="inline-block" style="width: 480px; margin-top: 40px; margin-right: 40px; text-align: left; vertical-align: top;">
      <div style="width: 100px; vertical-align: top; height: 150px; float: left;">
        <%= image_tag "app_kick.PNG" %>
      </div>
      <div style="text-align: left; vertical-align: top;">
        <p style="font-family: orgonboldregular; font-size: 19.7px; color: #FFFFFF; text-align: left;">Gain/Loss/Kicks</p>
        <p style="font-family: orgonlightregular; font-size: 16px; color: #FFFFFF; text-align: left; margin-top: 0px;">
          Detect gains, losses, and kicks in a single unified view.
        </p>
        <p>
          <a href="/signin"
             class="inline-block btn btn-primary align-top"
             style="min-width: 150px; margin-left: 0px; margin-right: 30px; margin-top: 0px; float: left;">
            BUY <span style="opacity: 0.8;"></span>
             </a>

        <p class="inline-block">
          <span style="font-family: orgonboldregular;">Corva</span><br>
          <span>Sep 1, 2015</span>
        </p>
        </p>
      </div>

    </div>
  </div>


  <div style="margin-top: 100px;">
    <div class="section-header" style="text-align: left;">
      <h1>Analytics</h1>
    </div>
  </div>

  <div class="center" style="margin-top: 40px;">
    Coming soon...
  </div>


  <div style="margin-top: 100px;">
    <div class="section-header" style="text-align: left;">
      <h1>Data Quality Enrichment</h1>
    </div>
  </div>

  <div class="center" style="margin-top: 40px;">
    Coming soon...
  </div>


  <div style="margin-top: 100px;">
    <div class="section-header" style="text-align: left;">
      <h1>Hardware Controllers</h1>
    </div>
  </div>

  <div class="center" style="margin-top: 40px;">
    Coming soon...
  </div>


  <div class='pull-right' style='margin-top: 90px; margin-right: 40px; margin-bottom: 20px; color: #c8e6d1; font-size: 12px;'>
    &copy; 2015 CORVA AI
  </div>
</div>
