<% provide(:title, 'Drilling Intelligence') %>

<% if true %>
<div class='pull-left' style='margin-top: 30px; margin-left: 40px; font-size: 17px;'>

  <!--
  <div class="inline-block" style="margin-left: 10px; margin-right: 10px; color: #839898;">|</div>
   -->

  <a href="/solutions">
    Solutions
  </a>

  <div class="inline-block" style="margin-left: 10px; margin-right: 10px; color: #839898;">|</div>

  <a href="/apps">
    Apps
  </a>

  <div class="inline-block" style="margin-left: 10px; margin-right: 10px; color: #839898;">|</div>

  <a href="/pricing">
    Tiers
  </a>

  <div class="inline-block" style="margin-left: 10px; margin-right: 10px; color: #839898;">|</div>

  <a href="/developers">
    RigOS<span style="color: #adadad;"> / </span>Developers
  </a>

  <div class="inline-block" style="margin-left: 10px; margin-right: 10px; color: #839898;">|</div>

  <a href="/about">
    About
  </a>

  <div class="inline-block" style="margin-left: 10px; margin-right: 10px; color: #839898;">|</div>

  <a href="/team">
    Team
  </a>

  <div class="inline-block" style="margin-left: 10px; margin-right: 10px; color: #839898;">|</div>

  <a href="/contact">
    Contact
  </a>
</div>
<% end %>


<div class='home'>

  <div class='hero'>


    <div class='pull-right' style='margin-top: 40px; margin-right: 0px;'>

      <div class="inline-block" style="margin-right: 30px;" id="sign_up">
      <a href="#"
         class="inline-block align-top"
         style=" margin-left: 0px; margin-top: 0px; max-height: 34px; padding-top:0px; color: #58c9c2;">
        Sign Up
      </a>
      <span style="opacity: 0.5; font-size: 14px;">(Coming Soon)</span>
      </div>

      <%= link_to "Log In", "#",
                  id: "show_sign_in",
                  class: "sign-in-button align-top" %>
    </div>

    <div id="hero_content" style="padding-top: 320px;">
      <%= image_tag "corva-logo-big.png", class: "logo" %>

      <p style='color: #c8e6d1;  font-size: 25px; font-family: orgonlightregular;'>
        The world's first platform for drilling apps
      </p>
      <p style='color: #a3aaa5;  font-size: 15px; font-family: orgonlightregular; margin-top: 15px; max-width: 400px; margin-left: auto; margin-right: auto;'>
        We are a free and open platform for apps of drilling optimization, modeling, and analytics
      </p>
    </div>


    <div style="background-color: #faba3e; position: absolute; left: 0px; top: 650px; color: #272727; padding: 20px 40px; border-radius: 0px 10px 10px 0px;">
      <div style="font-family: orgonboldregular; font-size: 18px; text-align: left;">Poor Engineering From Low Data Quality?</div>
      <div style="font-family: orgonlightregular; font-size: 15px; text-align: left; max-width: 300px;">Corva is built on automatic state-of-the-art data enrichment <a href="/content/data_quality_enrichment" style="margin-left: 10px;">Learn more</a></div>
    </div>

    <div id="sign_in" class='sign-in hidden'>

      <div class='pull-right' style='margin-top: 30px; margin-right: 20px;'>

        <a id="hide_sign_in" class='delete-button-small time-close-button align-top'
           style='margin-left: 30px; margin-top: -3px;'>x</a>
      </div>

      <%= render 'sessions/signin' %>

    </div>

  </div>


  <div class='our-mission' style='height: 1800px;'>
    <div class="mission_content">


      <p class='' style="color: #d8e476; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase">
        Our Mission
      </p>

      <p class='' style="color: #ffffff; font-size: 68px; text-transform: uppercase">
        Dynamic well construction guided by automatic real-time software
      </p>

      <p style="color: #c8e6d1; font-size: 30px;">
        Corva is a real-time drilling intelligence platform. Corva is built for performance and scalability as the host
        for an open platform of scientific models, analytics, data quality enrichment and hardware controllers.
      </p>

      <a href="/apps" style="font-size: 20px;">
        See our App Store
      </a>


      <div style="margin-top: 100px;">
        <%= image_tag "solutions/mobility/mobile_overview.png" %>
        <%= image_tag "solutions/mobility/mobile_tad.png", style: "margin-left: 30px;" %>
      </div>

      <p style="color: #c8e6d1; font-size: 25px; margin-top: 80px;">
        Let us focus on the hard problem of performance and scalability of real-time drilling information so developers, students, and companies can focus
        what they do best. We offer solutions for hydraulics, pressure, dynamics, power distribution and more. We envision a world full of possibilities.

      </p>

    </div>


  </div>


  <div class='pioneer' style="height: 500px;">
    We are pioneering a
    shift in operations - where rigs react and change instantly in real-time based on new information
  </div>


  <div class='learn-more' style="height: 800px;">
    <div class="learn_more_content" style="margin-top: 100px; padding-top: 50px; padding-bottom: 50px;">
      <p class='' style="color: #d8e476; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase">
        Features
      </p>


      <div style="margin-top: 100px;">

        <p style="color: #c8e6d1; font-size: 30px; margin-top: 80px;">
          Cloud &amp; Mobile Platform
        </p>


        <div style="text-align: right; margin-top:50px;">
          <%= image_tag "feature1.jpg" %>
        </div>
      </div>
    </div>
  </div>


  <div class='learn-more' style="height: 600px; background: #4c6b69;">
    <div class="learn_more_content" style=" padding-top: 50px; padding-bottom: 50px;">
      <div style="margin-top: 0px;">

        <p style="color: #c8e6d1; font-size: 30px; margin-top: 80px; ">
           Real-time Decision Support
        </p>


        <div style="text-align: left; margin-top:50px;">
          <%= image_tag "feature2.jpg" %>
        </div>
      </div>
    </div>
  </div>


  <div class='learn-more' style="height: 600px; background: #30605d;">
    <div class="learn_more_content" style=" padding-top: 50px; padding-bottom: 50px;">
      <div style="margin-top: 0px;">

        <p style="color: #c8e6d1; font-size: 30px; margin-top: 80px; ">
           Warning &amp; Problem Detection
        </p>


        <div style="text-align: right; margin-top:50px;">
          <%= image_tag "feature3.jpg" %>
        </div>
      </div>
    </div>
  </div>


  <div class='learn-more' style="height: 600px; background: #1e3a38;">
    <div class="learn_more_content" style=" padding-top: 50px; padding-bottom: 50px;">
      <div style="margin-top: 0px;">

        <p style="color: #c8e6d1; font-size: 30px; margin-top: 80px; ">
          Advanced Analytics
        </p>


        <div style="text-align: left; margin-top:50px;">
          <%= image_tag "feature4.jpg" %>
        </div>
      </div>
    </div>
  </div>


  <div class='learn-more' style="height: 700px;">
    <div class="learn_more_content">


      <p style="color: #c8e6d1; font-size: 30px; margin-top: 50px; ">
        This is Drilling 2.0
      </p>


      <div style='margin-top: 30px; margin-left: 0px; font-size: 17px;'>

        <a href="/solutions">
          Solutions
        </a>

        <div class="inline-block" style="margin-left: 10px; margin-right: 10px; color: #839898;">|</div>

        <a href="/apps">
          Apps
        </a>

        <div class="inline-block" style="margin-left: 10px; margin-right: 10px; color: #839898;">|</div>

        <a href="/developers">
          RigOS<span style="color: #adadad;"> / </span>Developers
        </a>

        <div class="inline-block" style="margin-left: 10px; margin-right: 10px; color: #839898;">|</div>

        <a href="/about">
          About
        </a>

        <div class="inline-block" style="margin-left: 10px; margin-right: 10px; color: #839898;">|</div>

        <a href="/team">
          Team
        </a>

        <div class="inline-block" style="margin-left: 10px; margin-right: 10px; color: #839898;">|</div>

        <a href="/contact">
          Contact
        </a>
      </div>

      <div style="margin-top: 80px;">
        <a href="mailto:info@corva.ai" class='learn_more_link' target="_top">
          <p class="learn_more_text">Learn More</p>

          <p class="learn_more_mail">
            <script type="text/javascript" language="javascript">
                { coded = "BhW1@31FTd.dB"
                    key = "56HGJKoev8ZdfVnlrsw1CTQIyWUhiF7N0bx9cp2YPBzLu4gkO3tEmDMXjSRqaA"
                    shift=coded.length
                    link=""
                    for (i=0; i<coded.length; i++) {
                        if (key.indexOf(coded.charAt(i))==-1) {
                            ltr = coded.charAt(i)
                            link += (ltr)
                        }
                        else {
                            ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                            link += (key.charAt(ltr))
                        }
                    }
                    document.write("<a href='mailto:"+link+"'>" + link + "</a>")
                }
            </script><noscript>Sorry, you need Javascript on to email.</noscript>
          </p>
        </a>
      </div>
    </div>
  </div>


  <div class='pull-right' style='margin-top: 20px; margin-right: 40px; color: #c8e6d1; font-size: 12px;'>
    &copy; 2015 CORVA AI
  </div>

</div>

<script type='text/javascript'>
    $('#show_sign_in').click(function () {

        $('#show_sign_in').hide();
        $('#hero_content').hide();
        $('#sign_in').removeClass('hidden');
        $('#sign_up').addClass('hidden');

        $('#session_email').trigger('focus');
        return false;
    });
    $('#hide_sign_in').click(function () {

        $('#show_sign_in').show();
        $('#hero_content').show();
        $('#sign_in').addClass('hidden');
        $('#sign_up').removeClass('hidden');
        return false;
    });

    <% if flash.present? && flash.any? %>
    $('#show_sign_in').trigger('click');
    <% end %>

    $('.feature-icon').click(function () {
        var feature = $(this).attr('data-feature');

        $('.feature-icon').each(function () {
            $(this).removeClass('feature-icon-active');
        });
        $(this).addClass('feature-icon-active');

        $('.feature-tray').each(function () {
            if ($(this).attr('data-feature') == feature) {
                $(this).removeClass('hidden');
            }
            else {
                $(this).addClass('hidden');
            }
        });
        return false;
    });

    function detectmob() {
        if (navigator.userAgent.match(/Android/i)
                || navigator.userAgent.match(/webOS/i)
                || navigator.userAgent.match(/iPhone/i)
                || navigator.userAgent.match(/iPad/i)
                || navigator.userAgent.match(/iPod/i)
                || navigator.userAgent.match(/BlackBerry/i)
                || navigator.userAgent.match(/Windows Phone/i)
                ) {
            return true;
        }
        else {
            return false;
        }
    }

    $(function () {

        if (detectmob() == false) {
            var BV = new $.BigVideo({useFlashForFirefox: false});
            BV.init();
            BV.show([
                { type: "video/mp4", src: "intro.mp4" },
                { type: "video/webm", src: "intro.webm" }
            ], {ambient: true});
            BV.getPlayer().on('durationchange', function () {
                $('#big-video-wrap').fadeIn();
            });
        }
    });
</script>