<% provide(:title, 'Executive Team') %>


<div class="">

  <div class="section-header">
    <h1>Executive Team</h1>
  </div>

  <div style="color: #c8e6d1; font-size: 30px; margin-top: 20px; width: 100%;">
    <div style="text-align: center;">
    Corva is composed of the best scientists, engineers, and thought-leaders in the oil drilling industry.
    We take a unified, multi-disciplinary approach to solving the hardest industry problems.
    Our award-winning people make the difference.
      </div>
  </div>


  <div style="margin-top: 50px;">

    <div class="inline-block" style="width: 200px; margin-right: 50px; margin-bottom: 50px;">
      <%= image_tag "team/lars_olrik.png", class: "center" %>
      <p style="color: #d8e476; margin-top: 10px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase" class="center">
        Lars Olrik
      </p>
      <p style="color: #c8e6d1; font-size: 17px; font-family: orgonlightregular;" class="center">
        CEO
      </p>
    </div>

    <div class="inline-block" style="width: 200px; margin-right: 50px; margin-bottom: 50px;">
      <%= image_tag "team/ryan_dawson.png", class: "center" %>
      <p style="color: #d8e476; margin-top: 10px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase" class="center">
        Ryan Dawson
      </p>
      <p style="color: #c8e6d1; font-size: 17px; font-family: orgonlightregular;" class="center">
        CTO
      </p>
    </div>

    <div class="inline-block" style="width: 200px; margin-right: 50px; margin-bottom: 50px;">
      <%= image_tag "team/kevin_brady.png", class: "center" %>
      <p style="color: #d8e476; margin-top: 10px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase" class="center">
        Kevin Brady
      </p>
      <p style="color: #c8e6d1; font-size: 17px; font-family: orgonlightregular;" class="center">
        VP Global Sales
      </p>
    </div>


    <div class="inline-block" style="width: 200px; margin-right: 50px; margin-bottom: 50px;">
      <%= image_tag "team/shane_knutsvig.png", class: "center" %>
      <p style="color: #d8e476; margin-top: 10px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase" class="center">
        Shane Knutsvig
      </p>
      <p style="color: #c8e6d1; font-size: 17px; font-family: orgonlightregular;" class="center">
        VP Canada Sales
      </p>
    </div>

    <div class="inline-block" style="width: 200px; margin-right: 50px; margin-bottom: 50px;">
      <%= image_tag "team/michael_dawson.png", class: "center" %>
      <p style="color: #d8e476; margin-top: 10px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase" class="center">
       Michael Dawson
      </p>
      <p style="color: #c8e6d1; font-size: 17px; font-family: orgonlightregular;" class="center">
        VP Business Affairs
      </p>
    </div>




    <div class="inline-block" style="width: 200px; margin-right: 50px; margin-bottom: 50px;">
      <%= image_tag "team/colin_macdonald.png", class: "center" %>
      <p style="color: #d8e476; margin-top: 10px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase" class="center">
        Colin MacDonald
      </p>
      <p style="color: #c8e6d1; font-size: 17px; font-family: orgonlightregular;" class="center">
        Delivery Manager
      </p>
    </div>

    <div class="inline-block" style="width: 200px; margin-right: 50px; margin-bottom: 50px;">
      <%= image_tag "team/ryan_hanson.png", class: "center" %>
      <p style="color: #d8e476; margin-top: 10px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase" class="center">
        Ryan Hanson
      </p>
      <p style="color: #c8e6d1; font-size: 17px; font-family: orgonlightregular;" class="center">
        Delivery Manager
      </p>
    </div>


    <div class="inline-block" style="width: 200px; margin-right: 50px; margin-bottom: 50px;">
      <%= image_tag "team/joan_sanchez.png", class: "center" %>
      <p style="color: #d8e476; margin-top: 10px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase" class="center">
        Joan Sanchez
      </p>
      <p style="color: #c8e6d1; font-size: 17px; font-family: orgonlightregular;" class="center">
        IT/Infrastructure Lead
      </p>
    </div>


    <div class="inline-block align-top" style="width: 200px; margin-right: 50px; margin-bottom: 50px;">
      <%= image_tag "team/mohammadreza_kamyab.png", class: "center" %>
      <p style="color: #d8e476; margin-top: 10px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase" class="center">
       Mohammadreza Kamyab
      </p>
      <p style="color: #c8e6d1; font-size: 17px; font-family: orgonlightregular;" class="center">
        Drilling Eng Researcher
      </p>
    </div>

    <div class="inline-block align-top" style="width: 200px; margin-right: 50px; margin-bottom: 50px;">
      <%= image_tag "team/pourya_farmanbar.png", class: "center" %>
      <p style="color: #d8e476; margin-top: 10px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase" class="center">
        Pourya Farmanbar
      </p>
      <p style="color: #c8e6d1; font-size: 17px; font-family: orgonlightregular;" class="center">
        Drilling Eng Researcher
      </p>
    </div>

    <div class="inline-block align-top" style="width: 200px; margin-right: 50px; margin-bottom: 50px;">
      <%= image_tag "team/kosta_petrov.png", class: "center" %>
      <p style="color: #d8e476; margin-top: 10px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase" class="center">
        Kosta Petrov
      </p>
      <p style="color: #c8e6d1; font-size: 17px; font-family: orgonlightregular;" class="center">
        Lead Developer
      </p>
    </div>

    <div class="inline-block align-top" style="width: 200px; margin-right: 50px; margin-bottom: 50px;">
      <%= image_tag "team/nik_andreev.png", class: "center" %>
      <p style="color: #d8e476; margin-top: 10px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase" class="center">
        Nik Andreev
      </p>
      <p style="color: #c8e6d1; font-size: 17px; font-family: orgonlightregular;" class="center">
        Senior Web Developer
      </p>
    </div>

    <div class="inline-block align-top" style="width: 200px; margin-right: 50px; margin-bottom: 50px;">
      <%= image_tag "team/lazar_kanev.png", class: "center" %>
      <p style="color: #d8e476; margin-top: 10px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase" class="center">
        Lazar Kanev
      </p>
      <p style="color: #c8e6d1; font-size: 17px; font-family: orgonlightregular;" class="center">
        Senior Web Developer
      </p>
    </div>

    <div class="inline-block align-top" style="width: 200px; margin-right: 50px; margin-bottom: 50px;">
      <%= image_tag "team/pavel_khurlapov.png", class: "center" %>
      <p style="color: #d8e476; margin-top: 10px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase" class="center">
        Pavel Khurlapov
      </p>
      <p style="color: #c8e6d1; font-size: 17px; font-family: orgonlightregular;" class="center">
        Software Engineer
      </p>
    </div>

    <div class="inline-block align-top" style="width: 200px; margin-right: 50px; margin-bottom: 50px;">
      <%= image_tag "team/thomas_bereczky.png", class: "center" %>
      <p style="color: #d8e476; margin-top: 10px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase" class="center">
        Thomas Bereczky
      </p>
      <p style="color: #c8e6d1; font-size: 17px; font-family: orgonlightregular;" class="center">
        Dev/Ops
      </p>
    </div>


    <div class="inline-block" style="width: 200px; margin-right: 50px; margin-bottom: 50px;">
      <%= image_tag "team/neema_amini.png", class: "center" %>
      <p style="color: #d8e476; margin-top: 10px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase" class="center">
        Neema Amini
      </p>
      <p style="color: #c8e6d1; font-size: 17px; font-family: orgonlightregular;" class="center">
        Lead Counsel
      </p>
    </div>

    <div class="inline-block" style="width: 200px; margin-right: 50px; margin-bottom: 50px;">
      <%= image_tag "team/juliana_mulholland.png", class: "center" %>
      <p style="color: #d8e476; margin-top: 10px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase" class="center">
        Juliana Mulholland
      </p>
      <p style="color: #c8e6d1; font-size: 17px; font-family: orgonlightregular;" class="center">
        Associate Counsel
      </p>
    </div>


    <div class="inline-block" style="width: 200px; margin-right: 50px; margin-bottom: 50px;">
      <%= image_tag "team/shea_cadrin.png", class: "center" %>
      <p style="color: #d8e476; margin-top: 10px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase" class="center">
        Shea Cadrin
      </p>
      <p style="color: #c8e6d1; font-size: 17px; font-family: orgonlightregular;" class="center">
        Design Lead
      </p>
    </div>


    <!--

    <div class="inline-block" style="width: 200px; margin-right: 50px; margin-bottom: 50px;">
      <%= image_tag "team/ryan_hanson.png", class: "center" %>
      <p style="color: #d8e476; margin-top: 10px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase" class="center">
        Ryan Hanson
      </p>
      <p style="color: #c8e6d1; font-size: 17px; font-family: orgonlightregular;" class="center">
        Delivery Manager
      </p>
    </div>

    -->


  </div>

  <div class='pull-right' style='margin-top: 90px; margin-right: 40px; margin-bottom: 20px; color: #c8e6d1; font-size: 12px;'>
    &copy; 2015 CORVA AI
  </div>

</div>