<% hole_sizes ||= [] %>
<div class="section-sub-header">
  Hole Size

  <div class='inline-block align-top pull-right'>
    <a id="hole_string_hs_add_button" href="javascript:void(null)" class="btn btn-sub tooltip-info align-top">Add</a>
  </div>
</div>

<div class="block">
  <table class="table-normal">
    <thead>
    <tr>
      <th style="width: 40%;">Diameter</th>
      <th style="width: 40%;">Depth</th>
      <th style="width: 10%;"></th>
    </tr>
    </thead>
    <tbody id="hole_string_hs_container">
    <% if hole_sizes.empty? %>
    <tr id='hs_hs_row0' class='hs_hs_row'>
      <td><input type="text" id='hs_hs_diameter0' class="job-field-value-editable tooltip-info text-field"/></td>
      <td><input type="text" id='hs_hs_depth0' class="job-field-value-editable tooltip-info text-field"/></td>
      <td class='remove' style='width: 10%; display: none;'><a href='javascript:void(null)' id='hs_hs_remove0' class='hs_hs_remove' data-id='0'><i class='fa fa-remove'></i></a></td>
    </tr>
    <% else %>
      <% hole_sizes.each_with_index do |size, index| %>
        <tr id='hs_hs_row<%= index %>' class='hs_hs_row'>
          <td><input type="text" id='hs_hs_diameter<%= index %>' class="job-field-value-editable tooltip-info text-field" value="<%= size.diameter %>"/></td>
          <td><input type="text" id='hs_hs_depth<%= index %>' class="job-field-value-editable tooltip-info text-field" value="<%= size.depth %>" /></td>
          <td class='remove' style='width: 10%; display: none;'><a href='javascript:void(null)' id='hs_hs_remove<%= index %>' class='hs_hs_remove' data-id='<%= index %>'><i class='fa fa-remove'></i></a></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>