<div class="remote-tray" data-tray="rig_overview_bit">

  <div class='tray-content content-loaded' style="position: relative;">

    <div class="dv-spinner" id="dv_bit_spinner">

      <%= render 'jobs/inline_spinner' %>

    </div>

    <div class="dv-sub-container" style="display: none;">

      <div class="drill-view-chart" style="width: 35%; height: 438px;">
        <div class="label-top">Total Vibration</div>
        <div id="chart_drillview_bit" class="amChart block chart-view"></div>
        <div class="label-bottom" id="dv_bit_total_vibration_axis"></div>
      </div>

      <div class="drill-view-port" style="width: 65%;" id="dv_bit">

        <div class="menuContentBlock">

          <div class="section-header" style="margin-top: 15px;">
            <h1>Vibration</h1>
          </div>

          <div class="offline-box" id="dv_bit_offline_box">
            <h5>System offline</h5>

            <ul class="abnormal-list">
              <li>
                <p class="inline-block">Specify correct configurations</p>
                <a href="#"
                   class="show-tray inline-block" data-tray="configurations"
                   style="cursor:hand; text-decoration: underline; padding: 0px; line-height: 10px; margin: 0px; margin-left: 15px;"
                   style="color: #ffffff;">More details</a>

              </li>
            </ul>
          </div>

          <div id="dv_vibration_warning_box">
          </div>

          <div style="display: flex;">
            <div class="inline-block" style="float: left; width: 50%;">
              <div class="block">
                <p class="title" id="dv_bit_total_vibration_label">Total Vibration</p>

                <p class="value-white" style="font-size: 30px;" id="dv_bit_total_vibration"></p>
              </div>

              <div class="divider divider-lg"></div>

              <div class="block hidden">
                <p class="title value-gray" id="">Trip Necessary</p>

                <p class="value-white" style="font-size: 30px;" id="">-</p>
              </div>
            </div>

            <div class="inline-block" id="dv_bit_bit_wear" style="width: 50%; float: left;">
              <div style="position: absolute; text-align: center; margin-top: 35px; width: 140px; color: #ffffff; font-size: 14px;">Bit
                Wear
              </div>
              <div class="circles" id="dv_bit_circles"></div>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="divider divider-lg"></div>

          <div class="block">
            <div class="inline-block" style="width: 30%; vertical-align: middle; ">
              <p class="value-white" style="font-size: 20px;">Vibration</p>
            </div>

            <div class="inline-block" style="width: 68%; vertical-align: top; position: relative;">
              <div style="border-bottom: 2px solid #ffffff; margin-top: 10px; width: 100%; position: absolute;"></div>
              <span style="font-size: 10px; color: #ffffff; position: absolute; margin-top: 13px;"><b style="font-family: orgonboldregular">30</b> min ago</span>
              <span style="font-size: 10px; color: #ffffff; position: absolute; right: 0; margin-top: 13px;">Now</span>
              <!--<%= image_tag "rig/bit_vibration.png" %>-->
            </div>
          </div>

          <div class="divider divider-md"></div>

          <div class="block">
            <div class="inline-block" style="width: 20%; vertical-align: middle; ">
              <div class="inline-block circle" style="background: #58c9c2; width: 10px; height: 10px; margin-right: 5px;">
              </div>
              <p class="inline-block value-white" style="line-height: 24px; padding: 0; margin: 0; font-size: 15px; font-weight: normal;">Axial</p>
            </div>

            <div class="inline-block" style="width: 10%; vertical-align: middle; ">
              <%= image_tag "rig/icon_up_down.png" %>
            </div>

            <div class="inline-block" style="width: 68%; vertical-align: middle; box-sizing: border-box; position: relative; overflow: hidden;" id="dv_bit_axial">
            </div>
          </div>

          <div class="divider divider-md"></div>

          <div class="block">
            <div class="inline-block" style="width: 20%; vertical-align: middle; ">
              <div class="inline-block circle" style="background: #b858c9; width: 10px; height: 10px; margin-right: 5px;">
              </div>
              <p class="inline-block value-white" style="line-height: 24px; padding: 0; margin: 0; font-size: 15px; font-weight: normal;">Lateral</p>
            </div>

            <div class="inline-block" style="width: 10%; vertical-align: middle; ">
              <%= image_tag "rig/icon_left_right.png" %>
            </div>

            <div class="inline-block" style="width: 68%; vertical-align: middle; box-sizing: border-box; position: relative; overflow: hidden;" id="dv_bit_lateral">
            </div>
          </div>

          <div class="divider divider-md"></div>

          <div class="block">
            <div class="inline-block" style="width: 20%; vertical-align: middle; ">
              <div class="inline-block circle" style="background: #589dc9; width: 10px; height: 10px; margin-right: 5px;">
              </div>
              <p class="inline-block value-white" style="line-height: 24px; padding: 0; margin: 0; font-size: 15px; font-weight: normal;">Torsional</p>
            </div>

            <div class="inline-block" style="width: 10%; vertical-align: middle; ">
              <%= image_tag "rig/icon_return.png" %>
            </div>

            <div class="inline-block" style="width: 68%; vertical-align: middle; box-sizing: border-box; position: relative; overflow: hidden;" id="dv_bit_torsional">
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  (function ($) {
    DV_CURRENT_TAB = DV_TAB_BIT;

    function tune_dv_bit() {

      var innerHeight = $(window).innerHeight() - 186;
      var viewHeight = Math.max(innerHeight, DV_MENU_HEIGHT - 44);
      $('.drillview').css({ "height": viewHeight });
      $('#dv_bit').css({ "height": viewHeight });
      $('#vertical-slider').css({ "height": viewHeight - 20 });
      $('#depth-row').css({ "height": viewHeight });
      $('#activity-row').css({ "height": viewHeight });
      $('.menuBlock').css({ "height": viewHeight + 44 });
      $('#dv_warnings').css({ "height": viewHeight - 20 });
      $('#chart_drillview_bit').css({ "height": viewHeight });

      $('#dv_bit_spinner').css({ "padding-top": viewHeight / 2 - 20 });
      $('#dv_bit_spinner').css({ "height": viewHeight });

      DV_CHARTS['bit'].validateNow();

      update_chart_cursor_point('dv_bit');

    }

    $(".remote-tray-toggle[data-tray='rig_overview_bit']").click(function () {
      DV_CURRENT_TAB = DV_TAB_BIT;

      $('.dv-spinner').show();
      $('.dv-sub-container').hide();

      $('#depth-row-wide').hide();
      $('#depth-row').html("");
      $('#depth-row').show();
      $('#activity-row').html("");
      $('#activity-row').show();

      setTimeout(function () {
        tune_dv_bit();
        $('#dv_bit').perfectScrollbar('update');
        $slider = $('.slider');
        $slider.slider('option', 'change').call($slider, $slider, {value: $('.slider').slider('option', 'value')});
      }, 0);

    });

    // Tune view port height and etc..
    $(window).resize(tune_dv_bit);

    // Create chart
    DV_CHARTS['bit'] = AmCharts.makeChart("chart_drillview_bit", {
      "type": "serial",
      "theme": "none",
      "pathToImages": "https://www.amcharts.com/lib/3/images/",
      "backgroundColor": "#2a2e2e",
      "backgroundAlpha": 0,
      "rotate": true,
      "marginRight": 0,
      "marginTop": 0,
      "marginLeft": 0,
      "marginBottom": 0,
      "autoMargins": false,
      "dataProvider": [],
      "valueAxes": [
        {
          "axisAlpha": 0,
          "position": "bottom",
          "reversed": false,
          "gridAlpha": 0,
          "labelsEnabled": false,
          "id": "bit_axis",
          "autoGridCount": false,
        }
      ],
      "graphs": [
        {
          "lineColor": "#58c9c2",
          "lineThickness": 3,
          "type": "line",
          "valueField": "axial"
        },
        {
          "lineColor": "#b858c9",
          "lineThickness": 3,
          "type": "line",
          "valueField": "lateral"
        },
        {
          "lineColor": "#589dc9",
          "lineThickness": 3,
          "type": "line",
          "valueField": "torsional"
        }
      ],
      "chartCursor": {
        "zoomable": false,
        "enabled": true,
        "selectWithoutZooming": true,
        "valueLineEnabled": false,
        "valueLineBalloonEnabled": false,
        "valueBalloonsEnabled": false,
        "categoryBalloonEnabled": false
      },
      "categoryField": "time",
      "categoryAxis": {
        "gridPosition": "start",
        "startOnAxis": true,
        "labelsEnabled": false,
        "parseDates": false,
        "minorGridAlpha": 0.3,
        "tickLength": 0,
        "minorGridEnabled": true,
        "position": "left",
        "color": "#2a2e2e",
        "axisColor": "#fefefe",
        "axisAlpha": 1,
        "gridAlpha": 1,
        "gridColor": "#373b3b",
        "inside": true,
        "labelOffset": -3,
        "fontSize": 10
      }
    });

    DV_CHARTS['bit'].addListener("changed", handleChanged);

    var myCursor;

    $('#chart_drillview_bit').click(function () {
      DV_CURSOR_POS = myCursor;
      update_chart_cursor('dv_bit');
    });

    $('#chart_drillview_bit').mouseleave(function () {
      update_dv_bit(DV_CURSOR_POS);
    });

    function handleChanged(event) {
      myCursor = event.index;
      update_dv_bit(event.index);
    }

    DV_BIT_CIRCLE = Circles.create({
      id: 'dv_bit_circles',
      radius: 70,
      value: 0,
      maxValue: 100,
      width: 15,
      text: function (value) {
        return value + '%';
      },
      duration: 0,
      wrpClass: 'circles-wrp',
      styleWrapper: true,
      styleText: true
    });

    tune_dv_bit();

    $('#dv_bit').perfectScrollbar();

    $('#dv_bit').show();

    $slider = $('.slider');
    $slider.slider('option', 'change').call($slider, $slider, {value: $('.slider').slider('option', 'value')});
  }(jQuery));
</script>