<div class="remote-tray" data-tray="warnings_analysis">

  <div class="remote-loading hidden">
    <br><br>
    <%= render 'layouts/inline_loading', title: "Please wait, loading warnings analysis..." %>
  </div>

  <div class='tray-content'>

    <div class="section-header" style="margin-top: 15px;">
      <h1>Warnings</h1>
    </div>

    <div class="invisible-lost-time">
      <div class="inline-block" style="width: 30%;">
        <p class="title" style="font-size: 20px; color: #9abeaa;">Last 4 hours</p>

        <p class="value"><%= @job.warnings_last_for(4).length %></p>
      </div>

      <div class="inline-block" style="width: 30%;">
        <p class="title" style="font-size: 20px; color: #9abeaa;">Last 12 hours</p>

        <p class="value"><%= @job.warnings_last_for(12).length %></p>
      </div>

      <div class="inline-block" style="width: 30%;">
        <p class="title" style="font-size: 20px; color: #9abeaa;">Total for Well</p>

        <p class="value"><%= @job.event_warnings.length %></p>
      </div>
    </div>

    <% if !@job.event_warnings.empty? %>
      <%= render :partial => 'performance/depth_chart', locals: { graph_data: @job.warnings_by_depth } %>
    <% end %>

    <div class="block">
      <table class="warnings-list">
        <tbody>
        <% if @job.event_warnings.empty? %>
          <tr class="header1">
            <th>Time</th>
            <th>Depth (MD)</th>
            <th>Event</th>
            <th>Duration</th>
            <th></th>
          </tr>
          <tr>
            <td class="metrics"><span>-</span></td>
            <td class="metrics"><span>-</span></td>
            <td class="event">-</td>
            <td class="activity">-</td>
            <td>
            </td>
          </tr>
        <% else %>
          <% prev_date = '' %>
          <% @job.event_warnings.each do |warning| %>
            <% if prev_date != warning.opened_at.strftime('%b %e %Y') %>
              <% if warning.opened_at.to_date != Date.today %>
              <tr class="heading-date">
                <td colspan="5"><%= warning.opened_at.strftime('%Y') == Date.today.strftime('%A %m/%d') ? warning.opened_at.strftime('') : warning.opened_at.strftime('%A %m/%d/%Y') %></td>
              </tr>
              <tr class="header1">
                <th>Time</th>
                <th>Depth (MD)</th>
                <th>Event</th>
                <th>Duration</th>
                <th></th>
              </tr>
              <% end %>
              <% prev_date = warning.opened_at.strftime('%b %e %Y') %>
            <% end %>
            <tr>
              <td class="metrics">
                <div class="warning-<%= warning.event_warning_type.severity %>"></div>
                <span><%= warning.opened_at.strftime('%H:%M') %></span>
              </td>
              <td class="metrics"><span><%= number_with_delimiter(warning.depth_from.convert(:ft, company_unit).round) %><%= warning.closed_at.present? ? ' - ' + number_with_delimiter(warning.depth_to.present? ? warning.depth_to.convert(:ft, company_unit).round : 0) : '' %></span> <%= unit(:ft, company_unit) %></td>
              <td class="event"><%= warning.name %></td>
              <td class="activity"><%= warning.duration %></td>
              <td>
                <a class="link-to-right warning-detail-btn"  data-id="<%= warning.id %>" href="#">Details</a></p>
              </td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
