<script type="text/javascript">
  var warnings_tree_data = {
    current_warning: null,
    warnings: [],
    axis_time: <%= Time.now.to_i %>,
    axis_day: <%= (Time.now.utc + 1.day).day %>,
    axis_position: 'left',
    current_year: <%= (Time.now.utc + 1.day).year %>,
    max_offset: 400,
    min_offset: 0
  };

  <% if !current_user.current_warnings_list.empty? %>
  <% opened_warning = current_user.current_warnings_list.first %>
  warnings_tree_data.current_warning = {
    id: <%= opened_warning.id %>,
    opened_at: <%= opened_warning.opened_at.to_time.to_i %>,
    block: '<%= render 'event_warnings/warning_block', warning: opened_warning, top: -18, position: 'left', offset: -18 %>'
  };
  <% end %>

  <% prev_time = Time.now.to_i %>
  <% warnings.each_with_index do |warning, index| %>
  warnings_tree_data.warnings.push({
    id: <%= warning.id %>,
    opened_at: <%= warning.opened_at.to_time.to_i %>,
    block: '<%= render 'event_warnings/warning_block', warning: warning, top: top, position: position, offset: offset %>',
    day: <%= warning.opened_at.to_time.day %>,
    next_day: <%= (warning.opened_at + 1.day).day %>,
    end_of_day: <%= warning.opened_at.to_time.end_of_day.to_i %>,
    axis_label: '<%= (warning.opened_at + 1.day).strftime("%a %b %e") %> <%= current_year != (warning.opened_at + 1.day).year ? (warning.opened_at + 1.day).year : '' %>'
  });
  <% end %>

  function calc_offset(offset) {
    offset = Math.round(Math.sqrt(Math.abs(offset)));
    offset = Math.min(warnings_tree_data.max_offset, offset);
    offset = Math.max(warnings_tree_data.min_offset, offset);
    return offset;
  }

  function warning_block(warning) {
    return '<div style="display: block; margin-top: <%= offset %>px; position: relative;">' +
        <% if position == 'right' %>
        <div class="inline-block arrow-between"></div>
    <% end %>

    <div class="warning-box <%= position == 'left' ? 'left-side' : 'right-side' %> inline-block">
        <div class="box-header color-<%= warning.color %>">
        <%= warning.job.well.rig.name %> <%= warning.name %>
        <% if warning.closed_at.present? %>
        <span class="hour"><%= warning.duration %></span>
    <% end %>
    </div>
    <div class="box-body">
        <p><%= number_with_delimiter(warning.depth_from.present? ? warning.depth_from.round : 0) %><%= warning.closed_at.present? ? ' - ' + number_with_delimiter(warning.depth_to.present? ? warning.depth_to.round : 0) : '' %></p>

    <p><%= warning.description %></p>

    <div class="divider"></div>
    <p><%= warning.opened_at.strftime("%b %e, %Y %k:%M") %> <a class="link-to-right warning-detail-btn"  data-id="<%= warning.id %>" href="#">Read more...</a></p>
    </div>
    </div>

    <% if position == 'left' %>
    <div class="inline-block arrow-between"></div>
    <% end %>
    </div>';
  }

  function draw_warnings_tree() {
    var current_warning = warnings_tree_data.current_warning;
    var warnings = warnings_tree_data.warnings;
    var axis_time = warnings_tree_data.axis_time;
    var axis_day = warnings_tree_data.axis_day;

    $warnings_tree = $('#event_warnings_tree');
    $warnings_tree.html("");
    $warnings_tree.append('<span class="start-point"></span>' +
        '<div class="time-axis">' +
        '<span style="top: 0px;">Now</span>' +
        '</div>');

    if (current_warning == null) {
      $warnings_tree.append('<div style="display: block; top: -18px; position: absolute;">' +
          '<div class="warning-box left-side inline-block">' +
          '<div class="box-header color-green">' +
          'All rigs operating normally' +
          '</div>' +
          '<div class="box-body">' +
          '<p>No known issues at this time.</p>' +
          '</div>' +
          '</div>' +
          '<div class="inline-block arrow-between"></div>' +
          '</div>');
    } else {
      $warnings_tree.append(current_warning.block);
    }

    warnings.forEach(function (warning) {
      if ((current_warning != null && current_warning.id == warning.id) || warning.opened_at > axis_time) {
        // skip
      } else {
        if (axis_day != warning.next_day && warning.end_of_day <= axis_time) {
          var offset = calc_offset(axis_time - warning.end_of_day);
          $warnings_tree.append('<div class="time-axis" style="margin-top: ' + offset + 'px;">' +
              '<span>' +
              warning.axis_label +
              '</span>' +
              '</div>');
          axis_day = warning.day;
          axis_time = warning.end_of_day;
          warnings_tree_data.min_offset = 25;
        }
        var offset = calc_offset(axis_time - warning.opened_at);


      }
    });
  }
</script>