<% provide(:title, 'Well/Rig Analytics') %>


<div class="">

  <div class="section-header">
    <h1>Well/Rig Analytics</h1>

  </div>


  <div style="color: #c8e6d1; font-size: 30px; margin-top: 20px; width: 100%;">
    <div style="text-align: center;">
      Corva provides unmatched analytics for understanding well perforance. Explore, compare, and dive-in to make the insights that drive faster well construction.
    </div>
  </div>

  <p style="color: #d8e476; margin-top: 50px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
    Depth vs time compared to offset well
  </p>

  <div class="center" style="margin-top: 30px;">
    <div class="inline-block">
      <%= image_tag "content/well_analytics_time.png", style: "margin-top: 0px;" %>
    </div>
  </div>

  <hr>


  <p style="color: #d8e476; margin-top: 50px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
    Section time comparison to offset well
  </p>

  <div class="center" style="margin-top: 30px;">
    <div class="inline-block">
      <%= image_tag "content/well_analytics_time2.png", style: "margin-top: 0px;" %>
    </div>
  </div>

  <hr>

  <p style="color: #d8e476; margin-top: 50px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
    Well cost analysis
  </p>

  <div class="center" style="margin-top: 30px;">
    <div class="inline-block">
      <%= image_tag "content/well_analytics_cost.png", style: "margin-top: 0px;" %>
    </div>
  </div>

  <hr>

  <p style="color: #d8e476; margin-top: 50px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
    Well warnings by depth analysis
  </p>

  <div class="center" style="margin-top: 30px;">
    <div class="inline-block">
      <%= image_tag "content/well_analytics_warnings.png", style: "margin-top: 0px;" %>
    </div>
  </div>

  <hr>

  <p style="color: #d8e476; margin-top: 50px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
    ROP vs offset and Crew performance by day
  </p>

  <div class="center" style="margin-top: 30px;">
    <div class="inline-block">
      <%= image_tag "content/well_analytics_rop.png", style: "margin-top: 0px;" %>
    </div>
  </div>

  <hr>

  <p style="color: #d8e476; margin-top: 50px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
    Treatment logs
  </p>

  <div class="center" style="margin-top: 30px;">
    <div class="inline-block">
      <%= image_tag "content/well_analytics_treatment.png", style: "margin-top: 0px;" %>
    </div>
  </div>




  <div style="color: #c8e6d1; font-size: 20px; margin-top: 80px; width: 80%; margin-left: auto; margin-right: auto;">
    <div style="text-align: center;">
      When you need analytics at your finger tips, Corva is there. Everything is cloud-based, so there is nothing to install, and it all works at the push of a button.
    </div>
  </div>



  <div class='pull-right' style='margin-top: 90px; margin-right: 40px; margin-bottom: 20px; color: #c8e6d1; font-size: 12px;'>
    &copy; 2015 CORVA AI
  </div>

</div>