<% cache("trends/programs/warnings/" + cache_key_for_programs) do %>
  <div class='remote-tray' data-tray='programs_warnings'>
    <div class="remote-loading hidden">
      <br><br>
      <%= render 'layouts/inline_loading', title: "Please wait, loading program warnings performance..." %>
    </div>

    <div class='tray-content content-loaded'>
      <div class="content-view">
        <div class="block" style="position: relative;">
          <div id="programs_warnings_chart" class="amChart block" style="float: left; width: 100%; height: 520px;"></div>

          <%= render 'performance/tooltip_warnings' %>
        </div>

        <div class="block warnings-depth-chart-container">
          <%= render 'performance/programs/warnings/warnings_depth_chart' %>
        </div>
      </div>

      <%= render 'performance/no_content' %>
    </div>
  </div>

  <script type="text/javascript">
    <%= render 'performance/programs/warnings/index.js' %>
  </script>
<% end %>
