<% provide(:title, 'Real-Time Mobility') %>


<div class="">

  <div class="section-header">
    <h1><a href="/solutions">Solutions</a></h1>

    <h1> / Real-Time Decision Support</h1>
  </div>


  <div style="color: #c8e6d1; font-size: 30px; margin-top: 20px; width: 100%;">
    <div style="text-align: center;">
      Corva supports a wide-range of deterministic models for calculating extremely accuracte results for hydraulics,
      dynamics, pressure, power distribution, and more.
      When a rig is operating outside of normal characteristics, Corva will send timely alerts with all of the
      information and tools
      to diagnose and delivery a mitigation plan. Our deterministic models are based on leading industry standards,
      which come
      from tried-and-trusted academic and empiral development.
    </div>
  </div>

  <div style="margin-top: 30px; margin-bottom: 30px;">
    <h3 class="center" style="color: #5bcec6;">Jump to Section</h3>

    <div class="center" style="margin-top: 30px; font-size: 20px;">
      <a href="#torque_and_drag" style="margin: 10px;">Torque and Drag</a>|
      <a href="#wellbore_stability" style="margin: 10px;">Wellbore Stability</a>|
      <a href="#hole_cleaning" style="margin: 10px;">Hole Cleaning</a>|
      <a href="#drilling_efficiency" style="margin: 10px;">Drilling Efficiency</a>|
      <a href="#vibration" style="margin: 10px;">Vibration</a>|
      <a href="#motor_stalls" style="margin: 10px;">Motor Stalls</a>|
      <a href="#gain_loss" style="margin: 10px;">Gain/Loss/Kick</a>|
      <a href="#trace_curves" style="margin: 10px;">Trace Curves</a>
    </div>
  </div>

  <hr>

  <div id="torque_and_drag" style=" padding-top: 100px;">
    <p style="color: #d8e476;  font-size: 28px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
      Torque and Drag
    </p>

    <div style="text-align: center; margin-top: 20px; font-size: 21px;">
      Corva employs finite-element based torque and drag - the most accurate model available. The module is one of the most advanced industry tools for diagnosing buckling, stress, and
      stuck pipe scenarios.
    </div>

    <div class="center" style="margin-top: 30px;">
      <%= image_tag "solutions/decision_support/torque_and_drag.png", style: "margin-top: 10px;" %>
    </div>

    <p style="color: #d8e476; margin-top: 50px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
      Axial Load, Stress, Torque, and Friction Factor Plots
    </p>

    <div class="center" style="margin-top: 10px;">
      <%= image_tag "solutions/decision_support/torque_and_drag_other_plots.png", style: "margin-top: 10px;" %>
    </div>
  </div>

  <hr>


  <div id="wellbore_stability" style=" padding-top: 100px;">
    <p style="color: #d8e476; font-size: 28px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
      Wellbore Stability
    </p>

    <div style="text-align: center; margin-top: 20px; font-size: 21px;">
      The objective of the wellbore stability scheme is to determine the optimum mud weight window and/or wellbore trajectory in order to have a mechanically stable wellbore during and after drilling.
    </div>

    <div class="center" style="margin-top: 30px;">
      <%= image_tag "solutions/decision_support/wellbore_stability.png", style: "margin-top: 10px;" %>
    </div>
  </div>

  <hr>

  <div id="hole_cleaning" style=" padding-top: 100px;">
    <p style="color: #d8e476; font-size: 28px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
      Hole Cleaning
    </p>

    <div style="text-align: center; margin-top: 20px; font-size: 21px;">
      In a vertical section of the wellbore a modified Stokes' slip velocity model has been developed with the help of artificial neural networks. The outcome of the slip velocity model is the cuttings velocity and transportation ratio. In a deviated section, the concept of minimum transportation velocity (MTV) is utilized - or the minimum velocity to initiate the movement of the settled cuttings.
    </div>

    <div class="center" style="margin-top: 30px;">
      <%= image_tag "solutions/decision_support/hole_cleaning.png", style: "margin-top: 10px;" %>
    </div>
  </div>

  <hr>


  <div id="drilling_efficiency" style=" padding-top: 100px;">
    <p style="color: #d8e476; font-size: 28px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
      Drilling Efficiency
    </p>

    <div style="text-align: center; margin-top: 20px; font-size: 21px;">
      Drilling Efficiency tracks optimized engineering and operating variables to achieve the lowest drill cost and the best drill rate for each bit run, each application, and each formation.
    </div>

    <div class="center" style="margin-top: 30px;">
      <%= image_tag "solutions/decision_support/drilling_efficiency.png", style: "margin-top: 10px;" %>
    </div>
  </div>

  <hr>


  <div id="vibration" style=" padding-top: 100px;">
    <p style="color: #d8e476; font-size: 28px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
      Vibration
    </p>

    <div style="text-align: center; margin-top: 20px; font-size: 21px;">
      Rig site surface data provide limited information about downhole vibration. They are valuable when downhole vibration sensors are not available or when the MWD data quality is poor. However, surface detection is limited to axial and torsional vibrations only, as lateral vibration will not propagate to the surface.

      Cyclic torque and RPM and fluctuating standpipe pressure are possible indications of stick-slip.

    </div>

    <div class="center" style="margin-top: 30px;">
      <%= image_tag "solutions/decision_support/vibration.png", style: "margin-top: 10px;" %>
    </div>
  </div>

  <hr>

  <div id="motor_stalls" style=" padding-top: 100px;">
    <p style="color: #d8e476; font-size: 28px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
      Motor Stalls
    </p>

    <div style="text-align: center; margin-top: 20px; font-size: 21px;">
      The Corva platform uses a novel technique called edge detection to identify significant increases in standpipe and motor differential pressure, and significant decrease in instantaneous ROP. If all of these changes occur while the pump SPM is constant, then the motor stall detection algorithm is triggered.
    </div>

    <div class="center" style="margin-top: 30px;">
      <%= image_tag "solutions/decision_support/motor_stalls.png", style: "margin-top: 10px;" %>
    </div>
  </div>

  <hr>

  <div id="gain_loss" style=" padding-top: 100px;">
    <p style="color: #d8e476; font-size: 28px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
      Gain/Loss/Kick
    </p>

    <div style="text-align: center; margin-top: 20px; font-size: 21px;">

    </div>

    <div class="center" style="margin-top: 30px;">
      <%= image_tag "solutions/decision_support/gain_loss.png", style: "margin-top: 10px;" %>
    </div>
  </div>


  <hr>

  <div id="trace_curves" style=" padding-top: 100px;">
    <p style="color: #d8e476; font-size: 28px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
      Trace Curves
    </p>

    <div style="text-align: center; margin-top: 20px; font-size: 21px;">
       Corva supports trace curves for verifying trends using current EDR methods.
    </div>

    <div class="center" style="margin-top: 30px;">
      <%= image_tag "solutions/decision_support/trace_curves.png", style: "margin-top: 10px;" %>
    </div>
  </div>






  <div style="color: #c8e6d1; font-size: 30px; margin-top: 50px; width: 100%;">

  </div>


  <div class='pull-right' style='margin-top: 90px; margin-right: 40px; margin-bottom: 20px; color: #c8e6d1; font-size: 12px;'>
    &copy; 2015 CORVA AI
  </div>

</div>
