<% provide(:title, 'Solutions') %>

<% content_for :page_title do %>
  Solutions
<% end %>

<div class="main-content">
  <div style="color: #c8e6d1; font-size: 20px; margin-top: 20px; width: 100%;">
    <div style="text-align: center;">
      Corva is a real-time platform for improving drilling performance through optimization and problem detection.
      Corva hosts a suite of modeling, prediction, and analytical solutions for the oil drilling industry.
    </div>
  </div>

  <p style="color: #d8e476; margin-top: 50px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
    Corva Solutions
  </p>

  <div class="center">
    <%= image_tag "solutions/solutions.png", style: "margin-top: 10px;" %>
  </div>

  <div style="color: #c8e6d1; font-size: 18px; margin-top: 50px; margin-bottom: 80px; width: 100%;">
    <p style="color: #d8e476; margin-top: 40px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
      Predictive Drilling Analytics
    </p>

    <%= image_tag "solutions/predictive_analytics.png", class: "solutions-image" %>

    <div class="solutions-desc">
      The insatiable drive for companies to produce and consume more data in the name of optimization has created a
      great problem regarding analytical systems. There is not only the problem of data quality, but the ability to
      intake and process in real-time at the speed of required decisions. Corva meets the demanding needs of
      organizations - harnessing the modern powers of big data technologies and smart learning software. Corva offers
      charting, graphing, and recommendations that encompass all aspects of the drilling life cycle. We find anomalies
      in the data so analysts can easily recognize and target the performance of the correct sectors.
      <div>
        <a href="solutions/predictive_analytics" class="btn hidden"
           style="background-color: #4bd5f7; color: #ffffff; margin-top: 20px; float:right; border-radius: 0px; padding-left: 20px; padding-right: 20px;">Learn
          More</a>
      </div>
    </div>
  </div>

  <hr>

  <div style="color: #c8e6d1; font-size: 18px; margin-top: 50px; margin-bottom: 80px; width: 100%;">
    <p style="color: #d8e476; margin-top: 40px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
      Problem & Decision Support
    </p>

    <%= image_tag "solutions/decision_support.png", class: "solutions-image" %>

    <div class="solutions-desc">
      Corva is revolutionary - coupling a full real-time wellbore simulation based on industry-standard science to
      accurately determine problems related to all areas of drilling, including hydraulics, power distribution, pressure
      control, and much more. Corva determines equipment misuse, failure, and malfunction to avoid downtime and optimize
      well delivery time. Utilizing cutting-edge science, we are able to deliver salient and reliable warnings to the
      necessary personnel. Corva offers guidance and decision support visuals to aid in fast and quick resolution. As
      the first company to offer real-time physical modeling in a cohesive package, we break down the barriers to aid in
      problem diagnosis and information relay that typically plague drilling operations.
      <div>
        <a href="solutions/predictive_analytics" class="btn hidden"
           style="background-color: #4bd5f7; color: #ffffff; margin-top: 20px; float:right; border-radius: 0px; padding-left: 20px; padding-right: 20px;">Learn
          More</a>
      </div>
    </div>
  </div>

  <hr>

  <div style="color: #c8e6d1; font-size: 18px; margin-top: 50px; margin-bottom: 80px; width: 100%;">
    <p style="color: #d8e476; margin-top: 40px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
      Modular Extensible Platform
    </p>

    <%= image_tag "solutions/modular.png", class: "solutions-image" %>

    <div class="solutions-desc">
      Corva was built from the ground up to support a modular plug-in architecture. Our system allows customers to add
      in existing analytics packages, disparate data sources such as production or seismic data, and add custom software
      modeling. We want customers to be able to run calculations they have developed internally, such as pressure or
      hydraulics models, and have the full support of a real-time platform behind them. Corva enables seamless
      integration so there are no speed bumps in interpreting information. We know that operational excellence is a
      subjective matter, and we want to extend full potential to any scenario.
      <div>
        <a href="solutions/predictive_analytics" class="btn hidden"
           style="background-color: #4bd5f7; color: #ffffff; margin-top: 20px; float:right; border-radius: 0px; padding-left: 20px; padding-right: 20px;">Learn
          More</a>
      </div>
    </div>
  </div>

  <hr>

  <div style="color: #c8e6d1; font-size: 18px; margin-top: 50px; margin-bottom: 80px; width: 100%;">
    <p style="color: #d8e476; margin-top: 40px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
      Real-time Mobility
    </p>

    <%= image_tag "solutions/mobility.png", class: "solutions-image" %>

    <div class="solutions-desc">
      Corva delivers the mobility that empowers an entire workforce around excellent information and great decisions.
      While past generations constructed expensive real-time operation centers, Corva delivers a full predictive
      analytics suite to anyone with a mobile device. Information that is accurate, reliable, and actionable. Corva’s
      workflow combines organizational knowledge with scientific first-principles to facilitate fast and effective
      decisions and reduce operating expenses.

      <div>
        <a href="solutions/predictive_analytics" class="btn hidden"
           style="background-color: #4bd5f7; color: #ffffff; margin-top: 20px; float:right; border-radius: 0px; padding-left: 20px; padding-right: 20px;">Learn
          More</a>
      </div>
    </div>
  </div>

  <hr>

  <div style="color: #c8e6d1; font-size: 18px; margin-top: 50px; margin-bottom: 80px; width: 100%;">
    <p style="color: #d8e476; margin-top: 40px; font-size: 18px; font-family: orgonboldregular; text-transform: uppercase; text-align: center;">
      Connected Supply Chain
    </p>

    <%= image_tag "solutions/supply_chain.png", class: "solutions-image" %>

    <div class="solutions-desc">
      Understanding the problems in a drilling operation gives Corva a unique ability to affect all areas of the oil
      extraction process by streamlining the supply chain. As problems arise, Corva is able to pass information to
      suppliers and dynamically shift resourcing and servicing schedules. Corva cures the inefficiencies such as the
      timing of a cementing job or a well completion with automatic information dissemination to keep the entire supply
      chain connected. As all parties become synched, a new world of possibilities arise tailored to the efficiencies of
      an always-available information system.
      <div>
        <a href="solutions/predictive_analytics" class="btn hidden"
           style="background-color: #4bd5f7; color: #ffffff; margin-top: 20px; float:right; border-radius: 0px; padding-left: 20px; padding-right: 20px;">Learn
          More</a>
      </div>
    </div>
  </div>

  <div style="color: #c8e6d1; font-size: 30px; margin-top: 50px; width: 100%;">

  </div>

  <div class='pull-right' style='margin-top: 90px; margin-right: 20px; margin-bottom: 20px; color: #c8e6d1; font-size: 12px;'>
    &copy; 2015 CORVA AI
  </div>

</div>
