<% provide(:title, 'Executive Team') %>

<% content_for :page_title do %>
  Team
<% end %>

<div class="main-content">
<div style="color: #c8e6d1; font-size: 20px; margin-top: 20px; width: 100%;">
  <div style="text-align: center;">
    Corva is composed of the best scientists, engineers, and thought-leaders in the oil drilling industry.
    We take a unified, multi-disciplinary approach to solving the hardest industry problems.
    Our award-winning people make the difference.
  </div>
</div>

<div class="team">
<div class="inline-block team-member">
  <%= image_tag "team/lars_olrik.png", class: "center" %>

  <p class="center name">
    Lars Olrik
  </p>

  <p class="center position">
    CEO
  </p>
</div>

<div class="inline-block team-member">
  <%= image_tag "team/ryan_dawson.png", class: "center" %>

  <p class="name center">
    Ryan Dawson
  </p>

  <p class="center position">
    CTO
  </p>
</div>

<div class="inline-block team-member">
  <%= image_tag "team/kevin_brady.png", class: "center" %>

  <p class="name center">
    Kevin Brady
  </p>

  <p class="center position">
    VP Global Sales
  </p>
</div>

<div class="inline-block team-member">
  <%= image_tag "team/shane_knutsvig.png", class: "center" %>

  <p class="center name">
    Shane Knutsvig
  </p>

  <p class="center position">
    VP Canada Sales
  </p>
</div>

<div class="inline-block team-member">
  <%= image_tag "team/michael_dawson.png", class: "center" %>

  <p class="name center">
    Michael Dawson
  </p>

  <p class="center position">
    VP Business Affairs
  </p>
</div>



<div class="inline-block team-member">
  <%= image_tag "team/colin_macdonald.png", class: "center" %>

  <p class="center name">
    Colin MacDonald
  </p>

  <p class="center position">
    Delivery Manager
  </p>
</div>

<div class="inline-block team-member">
  <%= image_tag "team/ryan_hanson.png", class: "center" %>

  <p class="center name">
    Ryan Hanson
  </p>

  <p class="center position">
    Delivery Manager
  </p>
</div>

<div class="inline-block team-member">
  <%= image_tag "team/joan_sanchez.png", class: "center" %>

  <p class="center name">
    Joan Sanchez
  </p>

  <p class="center position">
    IT/Infrastructure Lead
  </p>
</div>


<div class="inline-block align-top team-member">
  <%= image_tag "team/mohammadreza_kamyab.png", class: "center" %>

  <p class="center name">
    Mohammadreza Kamyab
  </p>

  <p class="center position">
    Drilling Eng Researcher
  </p>
</div>

<div class="inline-block align-top team-member">
  <%= image_tag "team/pourya_farmanbar.png", class: "center" %>

  <p class="center name">
    Pourya Farmanbar
  </p>

  <p class="center position">
    Drilling Eng Researcher
  </p>
</div>

<div class="inline-block align-top team-member">
  <%= image_tag "team/kosta_petrov.png", class: "center" %>

  <p class="center name">
    Kosta Petrov
  </p>

  <p class="center position">
    Lead Developer
  </p>
</div>

<div class="inline-block align-top team-member">
  <%= image_tag "team/nik_andreev.png", class: "center" %>

  <p class="center name">
    Nik Andreev
  </p>

  <p class="center position">
    Senior Web Developer
  </p>
</div>

<div class="inline-block align-top team-member">
  <%= image_tag "team/lazar_kanev.png", class: "center" %>

  <p class="center name">
    Lazar Kanev
  </p>

  <p class="center position">
    Senior Web Developer
  </p>
</div>

<div class="inline-block align-top team-member">
  <%= image_tag "team/pavel_khurlapov.png", class: "center" %>

  <p class="center name">
    Pavel Khurlapov
  </p>

  <p class="center position">
    Software Engineer
  </p>
</div>

<div class="inline-block align-top team-member">
  <%= image_tag "team/thomas_bereczky.png", class: "center" %>

  <p class="center name">
    Thomas Bereczky
  </p>

  <p class="center position">
    Dev/Ops
  </p>
</div>


<div class="inline-block team-member">
  <%= image_tag "team/neema_amini.png", class: "center" %>

  <p class="center name">
    Neema Amini
  </p>

  <p class="center position">
    Lead Counsel
  </p>
</div>

<div class="inline-block team-member">
  <%= image_tag "team/juliana_mulholland.png", class: "center" %>

  <p class="center name">
    Juliana Mulholland
  </p>

  <p class="center position">
    Associate Counsel
  </p>
</div>


<div class="inline-block team-member">
  <%= image_tag "team/shea_cadrin.png", class: "center" %>

  <p class="center name">
    Shea Cadrin
  </p>

  <p class="center position">
    Design Lead
  </p>
</div>


<!--
    <div class="inline-block team-member" >
      <%= image_tag "team/ryan_hanson.png", class: "center" %>
      <p  class="center name">
        Ryan Hanson
      </p>
      <p  class="cente positionr">
        Delivery Manager
      </p>
    </div>
    -->


</div>

<div class='pull-right' style='margin-top: 90px; margin-right: 20px; margin-bottom: 20px; color: #c8e6d1; font-size: 12px;'>
  &copy; 2015 CORVA AI
</div>

</div>